---
import SidebarPersister from '@astrojs/starlight/components/SidebarPersister.astro';
import SidebarSublist from '@astrojs/starlight/components/SidebarSublist.astro';
import MobileMenuFooter from 'virtual:starlight/components/MobileMenuFooter';
import { FrameworkSwitcher } from '../FrameworkSwitcher';
import s from './styles.module.scss';

const { sidebar } = Astro.locals.starlightRoute;
const currentPath = Astro.url.pathname;
---

<div class={s.switcherWrapper}>
  <FrameworkSwitcher currentPath={currentPath} client:load />
</div>

<SidebarPersister>
  <SidebarSublist sublist={sidebar} />
</SidebarPersister>

<div class='md:sl-hidden'>
  <MobileMenuFooter />
</div>
